# macOS
.DS_Store

# IDE
.idea/

# Obsidian
.obsidian/

# Jekyll build
_site/
.jekyll-cache/
.jekyll-metadata

# Ruby
Gemfile.lock
vendor/
.bundle/

# Environment variables
.env

# Editor
*.swp
*.swo
*~
