<!--  Menu links -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/소식">소식</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/커리어고민">커리어고민</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/생산적글쓰기">생산적글쓰기</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/작품리뷰">작품리뷰</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about">About</a>
</li>
