<!--  Menu links -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/소식">소식</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/콘텐츠라이터">콘텐츠라이터</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/생산적글쓰기">생산적글쓰기</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/좋은글쓰기">좋은글쓰기</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/리뷰">리뷰</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about">About</a>
</li>
