---
layout: default
published: true
---
<div class="container">

  <div class="row mt-3">

    <div class="col-md-8 main-loop">

        {% assign category = page.category | default: page.title %}
        <h4 class="font-weight-bold spanborder"><span>{{ category }}</span></h4>

        {% for post in site.posts %}
          {% if post.categories contains category %}
            {% include main-loop-card.html %}
          {% endif %}
        {% endfor %}

    </div>

    <div class="col-md-4">
        {% include sidebar-featured.html %}
    </div>

  </div>

</div>
